<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>富文本</title>
    <div th:replace="admin/include/resources :: head"></div>
</head>
<body>

<!-- 加载动画 -->
<div th:replace="admin/include/common :: loading"></div>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">

            <form class="layui-form" style="margin: 40px auto;">
                <div class="layui-form-item">
                    <textarea id="ckEditor" class="layui-hide"></textarea>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-filter="formSubmitAdv" lay-submit>&emsp;提交&emsp;</button>
                        <button type="reset" class="layui-btn layui-btn-primary">&emsp;重置&emsp;</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- js部分 -->
<div th:replace="admin/include/resources :: script"></div>
<script>
    layui.use(['layer', 'form', 'util','admin', 'CKEDITOR'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;

        var CKEDITOR = layui.CKEDITOR;

        // 渲染富文本编辑器
        CKEDITOR.replace('ckEditor', {height: 450});
        var insEdt = CKEDITOR.instances.ckEditor;
        // 监听表单提交
        form.on('submit(formSubmitAdv)', function (data) {
            var content = insEdt.getData();
            console.log(content)
            return false;
        });
    });
</script>
</body>
</html>