/** 透明侧边栏导航 */
.layui-layout-admin .layui-side .layui-nav {
    background-color: transparent;
}

.layui-layout-admin .layui-side .layui-nav .layui-nav-item > a:hover {
    background: transparent;
    color: #0868cf !important;
}

.layui-layout-admin .layui-side .layui-nav .layui-nav-item dd > a:hover {
    color: #0868cf !important;
}

/** logo部分样式 */
.layui-layout-admin .layui-header .layui-logo {
    background-color: #0868cf;
    color: #fff;
    box-shadow: none !important;
}

/** header样式 */
.layui-layout-admin .layui-header {
    background-color: #0868cf;
}

.layui-layout-admin .layui-header a {
    color: #fff;
}

.layui-layout-admin .layui-header a:hover {
    color: #fff;
}

/** header里面三角箭头 */
.layui-layout-admin .layui-header .layui-nav .layui-nav-more {
    border-color: #eee transparent transparent;
}

.layui-layout-admin .layui-header .layui-nav .layui-nav-mored {
    border-color: transparent transparent #eee;
}

/** header线条 */
.layui-layout-admin .layui-header .layui-nav .layui-this:after, .layui-layout-admin .layui-header .layui-nav-bar {
    background-color: #fff;
}

/** 侧边栏样式 */
.layui-layout-admin .layui-side {
    background-color: #fff;
    box-shadow: 0px 0 1px rgba(0, 0, 0, .05);
}

/** 侧边栏文字颜色 */
.layui-side .layui-nav .layui-nav-item a {
    color: #515A6E;
}

.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a, .layui-nav-tree .layui-this > a:hover {
    background: #eee;
    color: #0868cf !important;
    border-right: 1px solid #0868cf;
}

.layui-nav-tree .layui-nav-bar, .layui-nav-tree > .layui-nav-item > a:before {
    background-color: #0868cf;
    width: 4px;
    display: none;
}

.layui-side .layui-nav-itemed > a, .layui-nav-tree .layui-nav-title a, .layui-nav-tree .layui-nav-title a:hover {
    color: #515A6E !important;
}

.layui-layout-admin.admin-nav-mini .layui-side .layui-nav li.layui-nav-itemed > a {
    background: #eee;
}

.layui-nav-tree .layui-nav-item .layui-nav-child {
    background-color: #fff !important;
}

.layui-layout-admin .layui-side .layui-nav .layui-nav-itemed > .layui-nav-child {
    background-color: #fff !important;
}

/** PC端折叠鼠标经过样式 */
.layui-layout-admin.admin-nav-mini .layui-side .layui-nav .admin-nav-hover > .layui-nav-child:before {
    background: #fff !important;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.layui-layout-admin.admin-nav-mini .layui-side .layui-nav .admin-nav-hover > .layui-nav-child > dd > a .layui-nav-more {
    border-color: transparent transparent transparent #515A6E !important;
}

/** 移动设备样式 */
@media screen and (max-width: 768px) {
    .layui-layout-admin.admin-nav-mini .layui-side .layui-nav li.layui-nav-itemed > a {
        background: transparent;
    }
}

/** 侧边栏小三角样式 */
.layui-layout-admin .layui-side .layui-nav .layui-nav-more {
    border-color: #515A6E transparent transparent;
}

.layui-layout-admin .layui-side .layui-nav .layui-nav-itemed > a .layui-nav-more {
    border-color: transparent transparent #515A6E;
}

.layui-nav.arrow3 .layui-nav-itemed > a > .layui-nav-more:before {
    background-color: #515A6E;
}

/** tab下划线 */
.layui-layout-admin .layui-body > .layui-tab > .layui-tab-title li.layui-this:after {
    background-color: #0868cf;
    top: 38px;
}

.admin-tabs-control, .layui-tab-title, .layui-tab-title .layui-this {
    color: #515A6E;
}

/** 主体标题 */
.layui-body-header-title {
    border-left-color: #0868cf;
}

/** 主题切换 */
.btnTheme:hover, .btnTheme.active {
    border-color: #0868cf;
}

/** admin风格弹窗样式 */
.layui-layer.layui-layer-admin {
    border-radius: 6px;
}

.layui-layer.layui-layer-admin .layui-layer-title {
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/** 按钮颜色 */
.layui-layer.layui-layer-admin .layui-layer-setwin a {
    color: #000;
}

/* 最小化按钮 */
.layui-layer.layui-layer-admin .layui-layer-setwin .layui-layer-min cite {
    background-color: #555;
}

/** 弹窗按钮 */
.layui-layer.layui-layer-admin .layui-layer-btn .layui-layer-btn0 {
    border-color: #0868cf;
    background-color: #0868cf;
}

/* 圆形按钮 */
.btn-circle {
    background: #0868cf;
}

/** 主题颜色 */

/** 按钮 */
.layui-btn:not(.layui-btn-primary):not(.layui-btn-normal):not(.layui-btn-warm):not(.layui-btn-danger):not(.layui-btn-disabled) {
    background-color: #0868cf;
}

.layui-btn.layui-btn-primary:hover {
    border-color: #0868cf;
}

/** 开关 */
.layui-form-onswitch {
    border-color: #0868cf;
    background-color: #0868cf;
}

/** 分页插件 */
.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #0868cf;
}

.layui-table-page .layui-laypage input:focus {
    border-color: #0868cf !important;
}

.layui-table-view select:focus {
    border-color: #0868cf !important;
}

.layui-table-page .layui-laypage a:hover {
    color: #0868cf;
}

/** 单选按钮 */
.layui-form-radio > i:hover, .layui-form-radioed > i {
    color: #0868cf;
}

/** 下拉条目选中 */
.layui-form-select dl dd.layui-this {
    background-color: #0868cf;
}

/** 选项卡 */
.layui-tab-brief > .layui-tab-title .layui-this {
    color: #0868cf;
}

.layui-tab-brief > .layui-tab-more li.layui-this:after, .layui-tab-brief > .layui-tab-title .layui-this:after {
    border-color: #0868cf !important;
}

/** 面包屑导航 */
.layui-breadcrumb a:hover {
    color: #0868cf !important;
}

/** 日期选择器按钮 */
.laydate-footer-btns span:hover {
    color: #0868cf !important;
}

/** 时间轴 */
.layui-timeline-axis {
    color: #0868cf;
}

/** 复选框 */
.layui-form-checked[lay-skin=primary] i {
    border-color: #0868cf !important;
    background-color: #0868cf;
}

.layui-form-checkbox[lay-skin=primary] i:hover {
    border-color: #0868cf;
}

.layui-form-checkbox[lay-skin=primary]:hover i {
    border-color: #0868cf;
}

/** 加载动画颜色 */
.ball-loader > span, .signal-loader > span {
    background-color: #0868cf;
}
